*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;      
    font-weight: normal;
}

main{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
header button{
    box-shadow: 0 4px 10px #000;
}
.content {
    padding-top: 200px;
    padding-bottom: 100px;
    background: url('assets/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
}

aside{
    flex: 1;
    padding-left: 50px;
}

section{
    flex: 2;
}

.content__texto__principal {
    color: #D44D51;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 25px; 
}

.titulo{
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    color: #091133;
}

.content__botoes{
    padding-top: 10px;
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
}

header{
        position: absolute;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        
    }

.navegador{
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: #CD313E;
}


ul {
        color: #CD313E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        list-style-type: none;
        display: flex;
        gap: 30px;
        
    }

.botao__padrao, .saiba__mais { 
        width: 189px;
        height: 36px;
        /*flex-shrink: 0;*/
        background-color: #CD313E;
        color: #fff;
        border: none;/* Add*/
        cursor: pointer;/*Add*/
    }

footer {
        background-color: #F78282;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 30px;
    }

footer a{
    color: #fff;
}

.footer__section, .footer__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__section{
    padding: 30px;
    border-bottom: solid #FFF;
}

.footer__footer{
    padding-left: 30px;
    padding-right: 30px;
}
.saiba__mais{
    background-color: transparent;
    color: black;
    border:black solid 2px;
    cursor: pointer;
    text-align: center;   
}


hr{
    width: 100%;
    border-width: 1px;
    color: white;
}
