*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}
body{
    padding: 10px;
}

header, aside, main, footer{
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    padding: 20px 0px;
    margin-top: 10px;
}

header{
    position: relative;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    background-color: lightcyan;
    text-align: center;
}

.menu {
    background-color: cornflowerblue;
    padding: 10px;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu li a:hover {
    background-color: rgb(57, 109, 206);
    border-radius: 5px;
  }
  

.content{
    display: flex;
    gap: 10px;
    height: fit-content;
}

 aside{
    background-color: hsl(204, 59%, 87%);
    width: 30%;
    text-align: center;
} 


main {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: #f9f9f9;
    width: 100%;
  }


.dados-novo-produto	{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}


input, textarea {
	width: 100%;
	flex-basis: 150px; /* Tamanho inicial do elemento, e cresce de acordo com o necessário */
}

.campos{
	flex-basis: 100%;
	align-self:stretch;
    padding: 10px;
}


label {
	display: block;	
    float: left;
}

.botao { /* Alinha o botão na base junto com o input */
	display: flex;
	align-items: flex-end;
}

.tabela-de-precos, th, tr, td{

  border-collapse: collapse; 
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(160 160 160);
}

th{
    background-color: lightblue;
}

footer{
    background-color: blueviolet;
}


  